/* Impostazioni generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.debug {
    border: 2px solid green;
}

body {
    font-family: 'open-sans', sans-serif;
}

/* Variabili colori */
:root {
    --color-light-blue: #b4d0e7;
    --color-black: #000000;
    --color-blue: #0061ff;
    --color-g-white: #f5f5f5;
    --color-contrast: #61082B;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-second: #61082b;
    --color-logo-third: #0093ce;
    --color-logo-light-red: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
    --color-grey: #686868;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-white);
    padding: 0 20px;
}

header nav a {
    padding: 30px 12px;
    display: block;
}

header nav div:first-child li:not(:first-child) a:hover,
header nav div:nth-child(2) li:not(:last-child) a:hover {
    border-bottom: 2px solid var(--color-black);
}

/* Contenitori */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.small-container {
    margin: 0 auto;
    max-width: 1000px;
}

/* Impostazioni flex */
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.start {
    align-items: flex-start;
}

/* Colori */
.bkg-black {
    background-color: var(--color-black);
    color: var(--color-white);
}

.bkg-light-blue {
    background-color: var(--color-light-blue);
}

.grey {
    color: var(--color-grey);
}

.color-contrast {
    color: var(--color-contrast);
}

/* Titolo */
h1 {
    font-size: 4em;
}

/* Lista */
ul {
    list-style: none;
    gap: 20px;
}

/* Ancora */
a {
    text-decoration: none;
    color: inherit;
}

/* Bottoni */
.button-blue {
    background-color: var(--color-blue);
    padding: 7px 12px;
    color: var(--color-white);
    display: block;
}

.button-blue:hover {
    opacity: 0.8;
    box-shadow: 3px 3px rgb(118, 210, 244);
}

.button-grey {
    padding: 7px 12px;
    border: 1px solid var(--color-grey);
    color: var(--color-black);
}

.button-grey:hover {
    border: none;
}

.button-white {
    padding: 10px 30px;
    background-color: var(--color-white);
}

.button-white:hover {
    color: var(--color-grey);
    box-shadow: 3px 3px var(--color-grey);
}

/* Dimensioni */
.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

/* Gap */
.gap1 {
    gap: 30px;
}

/* Immagine */
img {
    width: 100%;
    display: block;
}

/* Margine sezioni */
.margin-section {
    margin-top: 120px;
}

/* Sezione jumbo */
#jumbo {
    padding-top: 120px;
}

#jumbo p {
    font-size: 1.3em;
}

/* Posizione jambo */
.position-jambo {
    position: relative;
    top: 60px;
}

/* Freccia in basso */
.arrow {
    font-size: 2.8em;
    margin-top: 15px;
}

.arrow:hover {
    box-shadow: 0px 2px var(--color-grey);
}

/* Sezione piani */

#plan h2,
#FAQ h2 {
    padding-bottom: 30px;
    font-size: 2.5em;
}

#plan h3 {
    font-size: 1.8em;
    padding-bottom: 30px;
}

.col {
    width: calc((100% - 50px) / 3);
}

.row {
    gap: 25px;
    padding-top: 30px;
}

.bar {
    border-bottom: 1px solid var(--color-grey);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.int-col {
    padding: 30px;
}

#plan .fa-ul {
    margin-left: 25px;
    margin-bottom: 40px;
}
#plan li {
    padding: 10px 0;
}

p a {
    text-decoration: underline;
    color: var(--color-blue);
}

hr {
    width: 25%;
    margin: 40px 0;
}
.check {
    color: var(--color-blue);
}
.padtop-25 {
    padding-top: 25px;
}
/* Sezione enterprise */
.border {
    border: 1px solid var(--color-grey);
}

#enterprise p  {
    padding: 30px 25px;
}
#enterprise h2, #enterprise h5 {
    padding: 7px 25px;
}
#enterprise .button-blue {
    margin-right: 25px;
}
/* Sezione Partner */
#partner h2, #partner p {
    padding-bottom: 30px;
}
/* Sezione operation */
#operation h3 {
    padding-bottom: 20px;
}
/* Sezione Team Business */
#team-business a {
    text-decoration: underline;
    color: var(--color-blue);
}

#team-business h2, #operation h2 {
    font-size: 2.2em;
    margin-bottom: 35px;
}

/* Sezione call-to-action */
#call-to-action {
    padding: 100px 0;
}

#call-to-action h2 {
    font-size: 2em;
}

/* Sezione FAQ */
details {
    border-top: 1px solid var(--color-grey);
    padding: 40px 0;
    border-bottom: 1px solid var(--color-grey);
}

summary {
    font-weight: bolder;
}

details>summary:first-of-type {
    list-style: none;
}

summary:after {
    content: "\23F4";
    color: var(--color-black);
    margin-left: 20px;
}

details[open] summary:after {
    content: "\23F7";
}

/* Footer */
.footer-top {
    padding: 60px 0;
}

footer li {
    padding-bottom: 20px;
}

.icon {
    opacity: 0.5;
}

.footer-bottom {
    padding-bottom: 35px;
}

select {
    background-color: var(--color-black);
    color: var(--color-grey);
    border: none;
}